*
{
    --main_color: #0070c9;
    --border: #eeeeee;
    box-sizing: border-box;
}

html,
body
{
    height: 100%;
    font-family: 'Inter', sans-serif;
}

span.material-icons,
span.material-icons-outlined
{
    line-height: inherit;
}

.btn
{
    padding: 8px 20px !important;
    font-size: 11px !important;
    font-weight: 600;
    border-radius: 6px;
}

.btn:active,
.btn:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
select:active,
select:focus
{
    outline: none;
    box-shadow: none !important;
}

.form-check
{
    display: flex;
    align-items: center;
    padding-left: 1.1em;
}

.form-check input
{
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 1px;
}

.btn.disabled
{
    background: #7a7a7a !important;
    border: 1px solid #7a7a7a !important;
}

.btn-primary
{
    background: var(--main_color) !important;
    border: 1px solid var(--main_color) !important;
}

.btn-outline-primary
{
    border: 1px solid var(--main_color) !important;
    color: var(--main_color) !important;
}

.btn-outline-primary:hover
{
    border: 1px solid var(--main_color) !important;
    background: var(--main_color) !important;
    color: #FFF !important;
}

.btn-outline-danger
{
    border: 1px solid #e25454 !important;
    color: #e25454 !important;
}

.btn-outline-danger:hover
{
    border: 1px solid #e25454 !important;
    background: #e25454 !important;
    color: #FFF !important;
}

.btn-outline-success
{
    border: 1px solid #32812a !important;
    color: #32812a !important;
}

.btn-outline-success:hover
{
    border: 1px solid #32812a !important;
    background: #32812a !important;
    color: #FFF !important;
}

.badge
{
    min-width: 70%;
    padding: 8px 20px;
    font-size: 11px;
    font-weight: 600;
}

.bg-success
{
    background: #e1fcde !important;
    color: #32812a !important;
}

.bg-warning
{
    background: #ffec8d !important;
    color: #cf6b19 !important;
}

.bg-danger
{
    background: #ffe4e4 !important;
    color: #ad3a3a !important;
}

.alert
{
    display: flex;
    align-items: center;
    color: #3d3d3d;
    font-size: 13px;
    box-shadow: 0 2px 5px #d6d6d6;
    background: #FFF;
    border: none;
    border-radius: 0;
}

.alert.alert-justify
{
    justify-content: space-between;
}

.alert span.material-icons
{
    margin-right: 8px;
    font-size: 27px;
}

.alert-danger
{
    border-left: 5px solid #e25454;
}

.alert-danger span.material-icons,
.alert-danger span.material-icons-outlined
{
    color: #e25454;
}

.alert-success
{
    border-left: 5px solid #32812a;
}

.alert-success span.material-icons,
.alert-success span.material-icons-outlined
{
    color: #32812a;
}

.alert-info
{
    border-left: 5px solid #54a2e2;
}

.alert-info span.material-icons,
.alert-info span.material-icons-outlined
{
    color: #54a2e2;
}

.btn-icon .button-content
{
    display: flex;
    align-items: center;
}

.btn-icon .button-content span.material-icons
{
    margin-right: 8px;
    font-size: 20px;
}

label
{
    font-size: 12px;
    font-weight: 300;
}

input[type="text"],
input[type="email"],
input[type="password"],
select
{
    height: 35px;
    font-weight: 300;
}

input,
textarea,
select
{
    font-size: 12px !important;
}

.input-group-text
{
    background: none;
    height: 35px;
}

.input-group-text.material-icons,
.input-group .material-icons
{
    color: var(--main_color);
    font-size: 15px;
}

.modal-content .illustration
{
    width: 50%;
}

.modal-header
{
    background: #FFF;
    border-bottom: none;
    padding: 16px 32px;
}

.modal-header .modal-title
{
    width: 100%;
    font-size: 24px;
    font-weight: 700 !important;
    color: var(--main_color);
}

.modal-body
{
    padding: 0 32px 16px 32px;
}

.modal-body button
{
    padding: 8px 11px;
}

.modal-footer
{
    border-top: 1px solid #f7f7f7;
    padding: 16px 32px;
}

#modal_membres img
{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
}

.btn-center
{
    margin-top: 8px;
    text-align: center;
}

.table
{
    vertical-align: middle;
    font-size: 12px;
}

.table tbody
{
    border-top: none !important;
}

.table thead
{
    vertical-align: middle;
    border-top: 1px solid #e9e9e9 !important;
}

.table-header
{
    color: var(--main_color);
    background: #FFF;
}

.table-header tr td,
.table-header tr th
{
    font-weight: 500;
}

table tr td,
table tr th
{
    padding: 16px 8px !important;
}

.date-table,
table .material-icons,
.card .material-icons
{
    color: #969696;
    padding: 0 4px;
}

.modify:hover span
{
    color: var(--main_color) !important;
}

.delete:hover span
{
    color: #ac1b1b !important;
}

.duplicate:hover span
{
    color: #32812a !important;
}

.login
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container
{
    width: 20%;
    padding: 64px 16px;
    /*box-shadow: 0 2px 5px #d6d6d6;*/
}

.login__container .alert
{
    margin-bottom: 32px;
}

.login__container .logo
{
    text-align: center;
    margin-bottom: 32px;
}

.login__container .logo img
{
    width: 50%;
}

.login__container h1
{
    font-size: 37px;
    font-weight: 800;
    margin-bottom: 32px;
    text-align: center;
}

.reset-password h1
{
    margin-bottom: 16px;
    font-size: 30px;
    text-align: left;
}

.reset-password p
{
    font-size: 14px;
    line-height: 22px;
}

.login__container .forgotten-password
{
    font-size: 11px;
}

.login__container .btn
{
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px !important;
}

.login__container .information-message
{
    margin-top: 16px;
    font-size: 11px;
}

.navbar
{
    background: #ececec !important;
    padding: 4px !important;
}

.navbar__container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.navbar__container-cta
{
    display: flex;
    align-items: center;
}

.username_container
{
    margin-right: 16px;
    text-align: right;
}

.username_container > *
{
    line-height: 13px;
}

.username
{
    font-size: 13px;
    font-weight: 600;
}

.rang
{
    font-size: 12px;
    font-weight: 300;
}

.userimg__container
{
    position: relative;
    width: 30px;
    height: 30px;
}

.userimg__container img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
}

.navbar .navbar-brand img
{
    width: 70px;
}

.navbar-secondary
{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    transform: translateY(-100%);
    background: #ecececc2 !important;
    transition-duration: .3s;
}

.navbar-secondary.visible
{
    transform: translateY(0);
    transition-duration: .3s;
}

.navbar-secondary .group-informations
{
    display: flex;
    align-items: center;
}

.navbar-secondary .group-img-navbar
{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 8px;
}

.navbar-secondary .group-title
{
    font-weight: 900;
    font-size: 25px;
}

.user_menu_container
{
    min-width: 15rem;
}

.user_menu_container .user-informations__container
{
    display: flex;
    align-items: center;
    padding: 16px 32px;
}

.user_menu_container .user-informations__container span.material-icons
{
    margin-right: 8px;
}

.user_menu_container .user-informations
{
    font-size: 13px;
    line-height: 15px;
    text-align: left;
}

.user_menu_container .user-informations a,
.user_menu_container .user-informations button
{
    font-size: 12px;
    color: var(--main_color);
    text-decoration: none;
}

.user_menu_container li
{
    border-bottom: 1px solid #e4e4e4;
}

.user_menu_container li:last-child
{
    border-bottom: none;
}

.user_menu_container li a:not(.no-hover):hover,
.user_menu_container li button:hover
{
    background-color: #e9f5ff;
}

.user_menu_container li a:not(.no-hover),
.user_menu_container li button
{
    padding: 4px 32px;
    font-size: 13px;
}

.user_menu_container li a:not(.no-hover):active,
.user_menu_container li button:active
{
    color: #000;
}

.user_menu_container li button
{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    box-shadow: none;
}

.app-container
{
    padding: 32px;
}

.app-container h2
{
    margin-bottom: 32px;
}

.header,
.content
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 32px;
}

.header
{
    align-items: center;
}

.header .header__left .groupimg__container
{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.header .header__left .groupimg__container img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.header .header__right
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__right .group-title
{
    font-size: 52px;
    font-weight: 900;
    line-height: 60px;
}

.header .header__right .group-owner
{
    font-size: 13px;
    line-height: 13px;
    color: #7a7a7a;
}

.header .header__right .group-members a
{
    font-size: 12px;
    text-decoration: none;
    color: var(--main_color);
}

.content
{
    margin-top: 32px;
}

.content__left-title
{
    border-bottom: 1px solid #f3f3f3;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 16px 8px;
}

.content__left-title img
{
    width: 15px;
    margin-right: 8px;
}

.content__left-title .title
{
    margin: 0;
}

.main-nav .nav-link
{
    display: flex;
    font-size: 12px;
    padding: 8px;
    align-items: center;
    color: #000 !important;
    transition: color 0s !important;
    font-weight: 600;
    margin: 8px 0;
}

.main-nav .nav-link:active
{
    outline: none;
}

.main-nav .nav-link.active
{
    color: var(--main_color) !important;
    background: #def0ff;
}

.main-nav .nav-link.active:focus
{
    outline: none;
}

.main-nav .nav-link.active:hover
{
    color: var(--main_color) !important;
    cursor: default;
}

.main-nav .nav-link:hover
{
    color: var(--main_color) !important;
    transition: color 0s !important;
}

.main-nav .nav-link span.material-icons-outlined
{
    margin-right: 8px;
    color: var(--main_color);
    font-size: 17px;
}

.main-nav .nav-link.active span.material-icons-outlined
{
    color: var(--main_color);
}

.member
{
    display: flex;
    align-items: center;
}

.membername
{
    font-weight: 600;
}

.memberrank
{
    font-weight: 300;
    font-size: 11px;
    color: #727272;
}

.member-rank
{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.member-rank__label
{
    font-weight: 600;
    margin-right: 4px;
}

.member-rank span.material-icons
{
    font-size: 12px;
    margin-left: 4px;
}

.member-rank a:hover span.material-icons
{
    color: var(--main_color);
}

.members-rank__footer
{
    border-top: 1px solid #f7f7f7;
    margin-top: 8px;
    padding-top: 8px;
}

.finances__actions
{
    display: flex;
    align-items: center;
}

.finances__header
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
}

.finances__header .finances-title
{
    font-size: 11px;
    color: #4d4d4d;
    margin-bottom: 4px;
}

.finances__header .finances-value
{
    font-size: 24px;
    font-weight: 800;
}

.finances__header,
.finances__actions,
.inventaire__header
{
    margin: 16px 0 32px 0;
}

.apport
{
    padding: 8px 0;
}

.apport .apport-title
{
    margin-bottom: 8px;
}

.table-title
{
    vertical-align: middle;
}

.filter-finances,
.export-finances
{
    cursor: pointer;
}

.table-title,
.filter-finances,
.export-finances
{
    color: #414141;
}

.balance-number.good
{
    color: #097209;
}

.balance-number.bad
{
    color: #ac1b1b;
}

.stock::before
{
    font-family: 'Material Icons';
    margin-right: 4px;
    vertical-align: bottom;
}

.stock.good
{
    color: #097209;
}

.stock.good::before
{
    content: "\e8e5";
}

.stock.equal
{
    color: #ac681b;
}

.stock.equal::before
{
    content: "\e941";
}

.stock.bad
{
    color: #ac1b1b;
}

.stock.bad::before
{
    content: "\e8e3";
}

.choice-nav
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 16px 0;
}

.choice-nav .nav-link
{
    text-align: center;
    color: #969696;
}

.choice-nav .nav-link.active
{
    color: var(--main_color);
    position: relative;
}

.choice-nav .nav-link.active::after
{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 0;
    bottom: 0;
    left: calc(50% - 15px);
    border: 1px solid var(--main_color);
}

.choice-nav .nav-link:hover
{
    color: var(--main_color) !important;
    transition: color 0s !important;
}

.choice-nav .nav-link.active:hover
{
    color: var(--main_color) !important;
    cursor: default;
}

.inventaire__content
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 32px;
}

.inventaire__content .card
{
    border: none;
    border-radius: 0 !important;
    padding: 0;
    min-height: 581px;
    box-shadow: 0 2px 5px #d6d6d6;
}

.inventaire__content .card .card-header
{
    background: #FFF;
    border: none;
    padding: 0;
}

.inventaire__content .card .card-header .card-img
{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.inventaire__content .card .card-header .card-img img
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.inventaire__content .card .card-body
{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inventaire__content .card .card-body .card-body__header
{
    margin-bottom: 16px;
}

.inventaire__content .card .card-body .card-title
{
    font-weight: 600;
    font-size: 13px;
    margin: 0;
}

.inventaire__content .card .card-body .price
{
    font-size: 12px;
    color: var(--main_color);
    font-weight: 800;
}

.inventaire__content .card .card-body .sizes
{
    padding: 8px 0;
}

.inventaire__content .card .card-body .sizes .size
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 1px solid var(--border);
}

.inventaire__content .card .card-body .sizes .size:last-child
{
    border-bottom: none;
}

.inventaire__content .card .card-body .sizes .size.size-header
{
    font-size: 12px;
    font-weight: 700;
}

.inventaire__content .card .card-body .sizes .size:not(.size-header) .size-label
{
    font-size: 11px;
    font-weight: 600;
}

.inventaire__content .card .card-body .sizes .size:not(.size-header) .size-stock
{
    font-size: 11px;
}

.inventaire__content .card .card-body .stock
{
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 600;
}

.inventaire__content .card .card-body .stock .stock-label
{
    color: var(--main_color);
    font-weight: 800;
}

.inventaire__content .card .card-footer
{
    background: none;
    border-top: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main_color);
    border-radius: 0 !important;
}

.inventaire__content .card .card-footer span
{
    color: #FFF;
}

.inventaire__content .card .card-footer span:hover
{
    color: #FFF !important;
}

.groups-list
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 32px;
    row-gap: 32px;
    grid-auto-rows: 1fr;
    min-height: 347.1px;
}

.groups-list a
{
    text-decoration: none !important;
}

.group-card
{
    box-shadow: 0 2px 5px #d6d6d6;
    padding: 16px;
    height: 100%;
}

.group-card:hover .group-card__body
{
    color: var(--main_color);
}

.group-card-new
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.group-img
{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.group-img img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.group-card__body
{
    padding-top: 16px;
    color: #000;
}

.group-card-new .group-card__body
{
    text-align: center;
    padding-top: 0;
}

.group-card-new .group-card__body span.material-icons-outlined
{
    font-size: 32px;
}

.group-title
{
    font-size: 13px;
}

.group-owner
{
    font-size: 12px;
    font-weight: 300;
    margin-top: 4px;
}

.settings-part
{
    padding-bottom: 32px;
}

.settings__part-title
{
    font-weight: 700;
}

.section
{
    padding: 20px 0;
}

.group-img-section
{
    display: flex;
    align-items: center;
}

.group-img-section__container
{
    position: relative;
    width: 10%;
    height: 0;
    padding-top: 10%;
    margin-right: 16px;
}

.group-img-section__container img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.settings__footer
{
    margin-top: 16px;
    border-top: 1px solid #e2e2e2;
    padding-top: 16px;
    text-align: right;
}

.inventory-img-container
{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-top: 32px;
}

.inventory-img-container img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 770px)
{
    .navbar__container
    {
        padding: 0 16px;
    }

    .header,
    .content
    {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    .header .header__right .group-title
    {
        font-size: 30px;
    }

    .groups-list
    {
        grid-template-columns: 1fr;
    }

    .login
    {
        display: block;
        min-height: 100%;
    }

    .login__container
    {
        width: 100%;
    }
}

@media screen and (min-width: 771px) and (max-width: 1000px)
{
    .login__container
    {
        width: 70%;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1600px)
{
    .login__container
    {
        width: 25%;
    }
}